<div class="footer_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="footer_logo"><img src="~/UI/images/footer-logo.png"></div>
                <p class="dummy_text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since.</p>
            </div>
            <div class="col-lg-3 col-sm-6">
                <h4 class="footer_taital">Contact Us</h4>
                <p class="footer_text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since.</p>
            </div>
            <div class="col-lg-3 col-sm-6">
                <h4 class="footer_taital">Quick Links</h4>
                <p class="footer_text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since.</p>
            </div>
            <div class="col-lg-3 col-sm-6">
                <h4 class="footer_taital">Subscribe</h4>
                <input type="text" class="address_text" placeholder="Enter Your Email" name="Enter Your Email">
                <div class="subscribe_bt"><a href="#">Subscribe</a></div>
            </div>
        </div>
    </div>
</div>
