<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>Grand Coffee</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- bootstrap css -->
      <link rel="stylesheet" type="text/css" href="~/UI/css/bootstrap.min.css">
      <!-- style css -->
      <link rel="stylesheet" type="text/css" href="~/UI/css/style.css">
      <!-- Responsive-->
      <link rel="stylesheet" href="~/UI/css/responsive.css">
      <!-- fevicon -->
      <link rel="icon" href="~/UI/images/fevicon.png" type="image/gif" />
      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" href="~/UI/css/jquery.mCustomScrollbar.min.css">
      <!-- Tweaks for older IEs-->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
      <!-- owl stylesheets --> 
      <link rel="stylesheet" href="~/UI/css/owl.carousel.min.css">
      <link rel="stylesheet" href="~/UI/css/owl.theme.default.min.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
   </head>
   <body>
         @await Html.PartialAsync("_PreLoaderPartial")

         @await Html.PartialAsync("_HeaderPartial")

         @RenderBody()

         @await Html.PartialAsync("_FooterPartial")

         @await Html.PartialAsync("_SearchPartial")

         @await Html.PartialAsync("_CopyrightPartial")

      <!-- Javascript files-->
      <script src="~/ui/js/jquery-3.3.1.min.js"></script>
      <script src="~/UI/js/bootstrap.bundle.min.js"></script>
      <script src="~/ui/js/jquery.magnific-popup.min.js"></script>
      <script src="~/ui/js/jquery-ui.min.js"></script>
      <script src="~/ui/js/mixitup.min.js"></script>
      <script src="~/ui/js/jquery.countdown.min.js"></script>
      <script src="~/ui/js/jquery.slicknav.js"></script>
      <script src="~/ui/js/owl.carousel.min.js"></script>
      <script src="~/ui/js/jquery.nicescroll.min.js"></script>
      <script src="~/UI/js/plugin.js"></script>
      <script src="~/ui/js/main.js"></script>

      
      <!-- sidebar /-->
      <script src="~/UI/js/jquery.mCustomScrollbar.concat.min.js"></script>
      <script src="~/UI/js/custom.js"></script>     
   </body>
</html>