@model List<ProductViewModel>

<section class="product spad">
    <div class="container">
        <!-- Ürünler Başlığı -->
        <div class="row">
            <div class="col-sm-12">
                <h1 class="gallery_taital">Ürünler</h1>
            </div>
        </div>

        <div class="row property__gallery">
            @foreach (var product in Model)
            {
                <div class="col-md-4 mix">
                    <div class="product__item">
                        <div class="container_main product_img">
                            <img src="@product.ImageUrl" alt="@product.Name" class="image">
                            <div class="overlay">
                                <div class="text"><a href="#"><i class="fa-solid fa-cart-shopping" aria-hidden="true"></i></a></div>
                            </div>
                        </div>
                        <div class="product__item__text">
                            <a class="fs-1 fw-bold" href="#">@product.Name</a>
                            <div class="fs-1 fw-bold product__price">₺ @product.Price</div>
                        </div>
                        <div class="d-flex mt-2 justify-content-between mb-2" role="group">
                            <a href="#" class="btn btn-outline-primary flex-grow-1 me-1 ml-1" style="max-width: 48%;">Favorilere Ekle</a>
                            <a href="#" class="btn btn-outline-success flex-grow-1 ms-1 mr-1" style="max-width: 48%;">Satın Al</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
