@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>I wrote that text.</p>
@{
    List<string> names = ["Ali", "Veli", "Fatma"];
        foreach(string name in names){
            <div>@name</div>
        }
}
